{% extends 'base.html.twig' %}

{% block title %}Finalisation inscription{% endblock %}

{% block body %}
	<h1>Finalisation de l'inscription</h1>
    {% if ( success == false ) %}
       	<p>Lien invalide</p>
    {% else %}
    	<p>Votre inscription est finalisée.</p>
		<a href="{{ path('security_login') }}" class="btn btn-success">Se connecter</a>
    {% endif %}
{% endblock %}
