{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block fullbanner %}
	<div class="fixed faded" id="fullbanner"></div>
{% endblock %}

{% block title %}Oublie mot de passe{% endblock %}

{% block body %}
	<div class="row" id="content-registration">
		<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4 text-center" id="registration">
			<h3>Mot de passe oublié</h3>
			{{ form_start(form) }}
			{{ form_row(form.username, {
				'label': 'Nom d\'utilisateur' ,'attr' : {'placeholder': 'Nom d\'utilisateur'}
			}) }}
			<div class="form-group text-center">
				<button type="submit" class="btn btn-success">Demander la réinitialisation du mot de passe</button>
			</div>
			{{ form_end(form) }}
			<div class="text-left"><p>Un e-mail va vous être envoyé, cliquez sur le lien contenu dans l'e-mail pour définir votre nouveau mot de passe</p></div>
		</div>
	</div>
{% endblock %}
