{% extends 'base.html.twig' %}

{% block fullbanner %}
	<div class="fixed faded" id="fullbanner"></div>
{% endblock %}

{% block title %}Finalisation inscription{% endblock %}

{% block body %}
	<div class="row" id="content-registration">
		<div class="offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8 text-center" id="registration">
			<h2>Finalisation de l'inscription</h2>
			{% for feedback in feedbacks %}
				<div class="alert alert-{{ feedback.0 }}" role="alert">
				    <p>{{ feedback.1 }}</p>
				    {% if ( feedback.0 == 'success' ) %}
				        <a href="{{ path('security_login') }}" class="btn btn-success">Se connecter</a>
				    {% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}