{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block fullbanner %}
	<div class="fixed faded" id="fullbanner"></div>
{% endblock %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
	<div class="row" id="content-registration">
		<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4 text-center" id="registration">
			<h3>Réinitialisation du mot de passe</h3>
			{{ form_start(form) }}
			{{ form_row(form.email, {
				'label': 'Email' ,'attr' : {'placeholder': 'Email'}
			}) }}
			{{ form_row(form.password, {
				'label': 'Mot de passe' ,'attr' : {'placeholder': 'Mot de passe'}
			}) }}
			<div class="form-group text-center">
				<button type="submit" class="btn btn-success">Redéfinir le mot de passe</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
