body {
	background-color: #ddd;
}

#main-container {
	background-color: #fff;
	padding-bottom: 50px;
}

.navbar {
	margin-bottom: 150px;
}

#trick-head {
	position: relative;
}

#trick-head-banner {
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	opacity:0.5;
}

#trick-head-title {
	position: absolute;
	height: 400px;
	width: 100%;
	top: 185px;
	text-align:center;
	margin: auto;
}

#trick-head-title h1 {

}

article {
	padding: 20px 0;
}

#description {
	padding: 20px 0;
}
#tags span {
	background-color: #acf;
}

.comment {
	margin-bottom: 10px;
}

.comment-content {
	border: 1px solid #000;
}
