
body {
	background-color: #000;
	position: relative; /* for fullcover height */
}

#global {
    position: relative; /* avoid background-color to be transparent cause of underlaying fullbanner */
	min-height: 100vh; /* to have the footer at the bottom even if not enough content */
    display: flex;
    flex-direction: column;
}

#main {
	flex: 1;
	display: flex; /* to vertical center content of content-registration div */
    flex-direction: column; /* to vertical center content of content-registration div */
}

#main-container {
	flex: 1; /* to vertical center content of content-registration div */
	display: flex; /* to vertical center content of content-registration div */
    flex-direction: column; /* to vertical center content of content-registration div */
}

.navbar {
	background-color: #ecf0f1;
}

.navbar .navbar-brand img {
	height:40px;
}

.navbar li.space-right {
	margin-right: 50px;
}

#trick-head {
	position: relative;
	height: 400px;
	border: 3px solid white;
}

#trick-head-banner {
	position: absolute;
	padding-left: 0;
	padding-right: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

#trick-head-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.6) 30% , rgba(255, 255, 255, 0.6) 70%, transparent 100%);
	padding: 0 30px;
	max-width: 100%; /* to avoid flex child overflow when larger content  */
}

#trick-head-title h1 {
	text-align: center;
	word-wrap: break-word; /* to break long text line */
}

#trick-head-actions {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0 15px;
}

#trick-head-actions a {
	color: #000;
	margin: 0 10px;
	padding: 0;
}

.trick-details #description {
	padding: 20px 0;
}

#comments-content {
	margin-top: 20px;
}

#comments-content .comment {
	margin-bottom: 10px;
}

#comments-content .comment .img-avatar {
	height: 50px;
	width: 50px;
}

#comments-content .comment .comment-desc {
	background-color: #c0c0c0;
	background-clip: content-box;
}

#comments-content .comment .comment-desc-inner {
	padding-left: 15px;
	padding-right: 15px;
}

#comments-content .comment .comment-content {
	background-color: #e0e0e0;
	background-clip: content-box;
}

#comments-content .comment .comment-content-inner {
	padding-left: 15px;
}

.img-fluid{
	width: 100%; /* IE9 Fix from bootstrap doc */
}

#fullbanner {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	overflow: hidden;
	background-image: url('../../images/banner.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	z-index: 0;
	opacity: 0.6;
}

#slogan {
	display: none; /* activated by fullOn class */
	position: absolute;
	text-align:center;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	background: linear-gradient(0deg, transparent 0%, rgba(255, 255, 255, 0.4) 30% , rgba(255, 255, 255, 0.4) 70%, transparent 100%);
}

#slogan h1 {
	font-size: 60px;
}

#arrow {
	position: absolute;
	right: 1vw;
	top: 88vh;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0% , transparent 100%);
}

#arrow2 {
	position: absolute;
	right: 1vw;
	bottom: 190px;
	display: none;
}

#second-container {
	background-color: #ecf0f1;
	padding-bottom: 50px;
	z-index: 300;
}

#content {
	padding-top: 100px;
	padding-bottom: 80px;
}

#content-index {
	min-height: 100vh; /* to have a fullscreen tricks section so the smooth scrollspy can slide totally to it */
	padding-top: 50px;
}

.trick-item {
	position: relative;
	height: 15em;
	margin-bottom: 10px;
	border: 1px solid #333;
}

.trick-item a {
	color:#000;
}

.trick-item img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.trick-item .trick-item-bar {
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: rgba(236, 240, 241, 0.6);
	display: flex;
}

.trick-item-title {
	flex: 1;
	text-align:center;
	min-width: 0; /* fix to avoid flex child overflow when larger content  */
}

.trick-item-title h3 {
	word-wrap: break-word; /* to break long text line */
}

.trick-details {
	padding-top: 15px;
}

.trick-details-media {
	position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
	margin-bottom: 15px;
}

.trick-details-media img{
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor:pointer; /* to simule link aspect for onclick action */
}

.trick-details-media img:hover{
	opacity: 0.8; /* to simule link aspect for onclick action */
}

.trick-details .trick-details-media iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background-color: #000;
}

#content-panel {
	padding-top: 10px;
	padding-bottom: 10px;
	flex: 1; /* to vertical center content of content-registration div */
}

#panel {
	background-color: #eee;
	padding: 20px;
}

#panel h1 {
	text-align: center;
	margin-bottom: 30px;
}

#trick-update {
	padding-top: 15px;
}

#action-see-medias {
	color: #fff;
}

ul.videos {
	list-style-type: none;
}

ul.pictures {
	list-style-type: none;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Parcourir";
}

.img-preview-holder {
	position: relative;
    height: 0;
    padding-bottom: 56.25%;
	background-color: #000;
}

.img-preview {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


#title-manage-account {
	margin-top:  50px;
}

form[name="account"] {
  margin-top:  50px;
  margin-bottom:  20px;
}

form[name="account"] .img-preview-holder {
    padding-bottom: 100%; /* change the common img-preview-holder rules to be square ratio */
}

#action-delete-accountPicture {
	padding-left: 0;
	padding-right: 0;
	margin-top: 2em;
}

#action-load-more {
	margin-top: 30px;
	color: #fff;
}

#link-new-trick {
	margin-top: 50px;
	margin-bottom: 50px;
}

#action-delete-trick {
	color: #ecf0f1;
}

ul#comments-paging a {
	cursor:pointer;
}

#footer {
	background-color: rgb(236, 240, 241);
	color: #333;
}

.fullOn #fullbanner {
	opacity: 0.95;
}
.fullOn #fullbanner #slogan {
	display:  block;
}
.fullOn #global #thegap {
	height: 100vh;
}
.fullOn #global #main {
	background-color: rgba(236, 240, 241, 0.65);
}

.h1, h1 { font-size: 2rem; 		}
.h2, h2 { font-size: 1.75rem; 	}
.h3, h3 { font-size: 1.5rem; 	}
.h4, h4 { font-size: 1.25rem; 	}
.h5, h5 { font-size: 1rem; 		}
.h6, h6 { font-size: 0.75rem; 	}

.page-item.active .page-link {
	background-color: #138496;
	border-color: #138496;
}

.page-link {
	background-color: #e0e0e0;
	border-color: #e0e0e0;
}

.page-link:hover {
	border-color: #e0e0e0;
}

#picture_view_modal .modal-body {
	max-height: 80vh;
}

#picture_view_modal .modal-body img{
	object-fit: contain;
	height: 100%;
	width: 100%;
}

@media (max-width: 575.98px) { 							/* Extra small devices */

}
@media (min-width: 576px) and (max-width: 767.98px) { 	/* Small devices */
	.comment-date {
		text-align: right;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) { 	/* Medium devices */
	.comment-date {
		text-align: right;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) { 	/* Large devices */

}
@media (min-width: 1200px) { 							/* Extra large devices */

}