
html {
	/*min-height: 100%;*/
	/*width: 100%;*/
}
body {
	background-color: #000;
	position: relative; /* for fullcover height */
	/*min-height: 100%;*/
	/*width: 100%;*/
}

#global {
    position: relative; /* avoid background-color to be transparent cause of underlaying fullbanner */
	/*z-index: 200; /* to delete */
	min-height: 100vh; /* to have the footer at the bottom even if not enough content */

    display: flex;
    flex-direction: column;
}

#main {
	flex: 1;

	display: flex; /* to vertical center content of content-registration div */
    flex-direction: column; /* to vertical center content of content-registration div */
}

#main-container {
	/*padding-bottom: 50px;*/
	/*padding: 50px;*/
	flex: 1; /* to vertical center content of content-registration div */

	display: flex; /* to vertical center content of content-registration div */
    flex-direction: column; /* to vertical center content of content-registration div */
}

.navbar {
	/*margin-bottom: 150px;*/
	background-color: #ecf0f1;
}

.navbar .navbar-brand img {
	height:40px;
}

.navbar li.space-right {
	margin-right: 50px;
}

#trick-head {
	position: relative;
	height: 400px;
	/*overflow-y: hidden;*/
	border: 3px solid white;
}

#trick-head-banner {
	position: absolute;
	/*opacity:0.7;*/
	padding-left: 0;
	padding-right: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
	/*object-position: 50% top;*/
}

#trick-head-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*background-color: rgba(255, 255, 255, 0.5);*/
	background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.6) 30% , rgba(255, 255, 255, 0.6) 70%, transparent 100%);
	padding: 0 30px;
}

#trick-head-title h1 {
	text-align: center;
}

#trick-head-actions {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0 15px;
}

#trick-head-actions a {
	color: #000;
	margin: 0 10px;
	padding: 0;
}

#trick-head-actions i {
	/*color: #000;
	margin: 0 10px;*/
}

article {
	/*padding: inherit 0;*/
}

#description {
	padding: 20px 0;
}
#tags span {
	background-color: #acf;
}

.comment {
	margin-bottom: 10px;
}

.comment-content {
	background-color: #ccc;
	padding: 0 15px;
}

.img-fluid{
	width: 100%; /* IE9 Fix from bootstrap doc */
}

#fullbanner {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	overflow: hidden;
	background-image: url('../../images/banner.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	z-index: 0;
	opacity: 0.6;
}

#slogan {
	display: none; /* activated by fullOn class */
	position: absolute;
	text-align:center;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	/*background-color: rgba(255, 255, 255, 0.4);*/
	padding: 10px;
	background: linear-gradient(0deg, transparent 0%, rgba(255, 255, 255, 0.4) 30% , rgba(255, 255, 255, 0.4) 70%, transparent 100%);
}

#slogan h1 {
	font-size: 60px;
}

.abs {
	position: absolute;
}

.fixed {
	position: fixed;
}

#banner-image {
	/*height: 100vh;*/
	height: 100%;
	width: 100%;
	object-fit: cover;
	/*object-position: 50% top;*/
}

.faded {
	opacity:0.6;
}

#thegap {
	/*position: relative;
	height: 100vh;*/
}

#arrow {
	position: absolute;
	right: 1vw;
	top: 88vh;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0% , transparent 100%);
}

#arrow2 {
	position: absolute;
	right: 1vw;
	/*bottom: 20vh;*/
	bottom: 140px;
	display: none;
}

#second-container {
	background-color: #ecf0f1;
	padding-bottom: 50px;
	z-index: 300;
}

#content {
	/*background-color: #fff;*/
	/*padding-top:15px;*/
	padding-top: 100px;
	padding-bottom: 80px;
}

#content-index {
	min-height: 100vh; /* to have a fullscreen tricks section so the smooth scrollspy can slide totally to it */
	padding-top: 50px;
}

.trick-item {
	position: relative;
	height: 15em;
	margin-bottom: 10px;
	border: 1px solid #333;
}

.trick-item a {
	color:#000;
}

.trick-item img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.trick-item .trick-item-bar {
	position: absolute;
	width: 100%;
	bottom: 0;
	/*left:15;
	right: 15;*/
	background-color: rgba(236, 240, 241, 0.6);
	display: flex;
	/*flex-wrap: nowrap;*/
	/*padding: 0 5px;*/
}

.trick-item .trick-item-bar > a {
	/*flex: 1;*/
}

.trick-item-title {
	flex: 1;
	text-align:center;
}

.trick-item-edit {
	
}

.trick-item-del {
	
}

.trick-details {
	padding-top: 15px;
}

.trick-details-media {
	position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
	margin-bottom: 15px;
}

.trick-details-media img{
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.trick-details .trick-details-media iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background-color: #000;
}


#content-panel {
	/*margin-top: 200px;*/
	padding-top: 10px;
	padding-bottom: 10px;

	flex: 1; /* to vertical center content of content-registration div */
}

#panel {
	background-color: #eee;
	padding: 20px;
}

#panel h1 {
	text-align: center;
	margin-bottom: 30px;
}

#trick-update {
	padding-top: 15px;
}

#action-see-medias {
	color: #fff;
}

ul.videos {
	list-style-type: none;
}
ul.pictures {
	list-style-type: none;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Parcourir";
}

.img-preview-holder {
	position: relative;
	/*height: 100px;*/
    height: 0;
    padding-bottom: 56.25%;
	background-color: #000;
}
.img-preview {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


#title-manage-account {
	margin-top:  50px;
}

form[name="account"] {
  margin-top:  50px;
  margin-bottom:  20px;
}

form[name="account"] .img-preview-holder {
    padding-bottom: 100%; /* change the common img-preview-holder rules to be square ratio */
}

.img-avatar {
	height: 50px;
	width: 50px;
}

#action-delete-accountPicture {
	padding-left: 0;
	padding-right: 0;
	margin-top: 2em;
}

#action-load-more {
	margin-top: 30px;
	color: #fff;
}

#link-new-trick {
	margin-top: 50px;
}

#action-delete-trick {
	color: #ecf0f1;
}

.action-paging {
	margin: 0 10px;
}

#footer {
	/*position: absolute;
	bottom: 0;
	width: 100%;*/

	background-color: rgb(236, 240, 241);
	color: #333;
}

.fullOn #fullbanner {
	opacity: 0.95;
}
.fullOn #fullbanner #slogan {
	display:  block;
}
.fullOn #global #thegap {
	height: 100vh;
}
.fullOn #global #main {
	background-color: rgba(236, 240, 241, 0.65);
}
.fullOn #global #main-container {
	/*padding-top: 0;
	padding-bottom: 0;*/
}

.h1, h1 {
    font-size: 2rem;
}
.h2, h2 {
    font-size: 1.75rem;
}
.h3, h3 {
    font-size: 1.5rem;
}
.h4, h4 {
    font-size: 1.25rem;
}
.h5, h5 {
    font-size: 1rem;
}
.h6, h6 {
    font-size: 0.75rem;
}